################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dotnet-dump/.vs
/doxygen/.vs
/k8s/pwsh/.vs
/analysis/HAR files/ParseHar/.vs/ParseHar
/analysis/HAR files/ParseHar/ParseHar/bin/Debug/net6.0
/analysis/HAR files/ParseHar/ParseHar/obj
